@font-face {
    font-family: 'Open Sans';
    src: url('/assets/fonts/OpenSans-Regular.ttf');
}

@font-face {
    font-family: 'Open Sans Bold';
    src: url('/assets/fonts/OpenSans-Bold.ttf');
}

@font-face {
    font-family: 'Montserrat Regular';
    src: url('/assets/fonts/Montserrat-Regular.otf');
}

@font-face {
    font-family: 'Montserrat Bold';
    src: url('/assets/fonts/Montserrat-Bold.otf');
}