ion-header {
    --ion-background-color: #84A1B3;
}

ion-title {
    text-align: center;
    color: #CAE9F7;
    font-weight: bold;
}

ion-toolbar > p {
    color: #CAE9F7;
    font-weight: bold;
    padding-right: 5px;
}

ion-img {
    width: 20px;
}